.content-section {
  width: 100%;
  max-width: 1100px;
  margin: auto;
  font-family: Raleway, sans-serif;
  font-weight: normal;
  font-size: 20px;
  font-style: normal;
  line-height: 1.2;
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 89px 52px 96px 50px;
}

.header__logo {
  display: block;
  width: 134px;
  padding-top: 4px;
}

.header__logo-image {
  width: 100%;
}

.header__menu-list {
  display: flex;
  justify-content: flex-start;
  gap: 12px;
  list-style: circle inside; /* для выравнивания по PixelPerfect. Из доки inside делает маркер частью содержимого элемента списка */
}

.header__address {
  display: flex;
  flex-direction: column;
  justify-self: end;
  align-items: flex-start;
  max-width: 236px;
}

.address-text {
  font-family: Raleway, sans-serif;
  font-weight: normal;
  font-size: 18px;
  font-style: normal;
  line-height: 1.35;
}

.header__menu-link {
  font-family: Raleway, sans-serif;
  font-weight: normal;
  font-size: 18px;
}

.header__menu-item_active {
  text-decoration: none;
  list-style: none;
}

.header__menu-item_active .header__menu-link {
  text-decoration: none;
}
.cover {
  position: relative;
  min-height: 757px;
  padding: 165px 50px 50px 50px;
  color: #fff;
  background-image: url("../images/cover.jpg");
  background-position: center bottom;
  background-size: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.cover__title {
  position: absolute;
  top: 165px;
  right: 50px;
  left: 50px;
  z-index: 2;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 100px;
  font-style: normal;
  line-height: 1.15;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.text-center {
  display: block;
  margin-top: 20px;
  margin-left: 0.3em;
  text-align: center;
}

.text-right {
  display: block;
  margin-top: 20px;
  margin-right: 0.3em;
  text-align: right;
}

.without-last-letter {
  display: inline-block;
}

.last_letter {
  margin-right: -0.3em; /* Компенсировать letter-spacing */
  letter-spacing: 0;
}

.description {
  position: absolute;
  top: 655px;
  right: 50px;
  left: 50px;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Raleway, sans-serif;
  font-weight: normal;
  font-size: 22px;
  font-style: normal;
  text-transform: uppercase;
}

.word-ws90 {
  margin-right: 0.9em;
}

.word-ws80 {
  margin-right: 0.8em;
}

.word-ws110 {
  margin-right: 1.1em;
}

.button {
  border: 1px solid #fff;
  padding: 12px 32px 11px 31px;
  color: #fff;
  font-family: Raleway, sans-serif;
  font-weight: normal;
  font-size: 22px;
  font-style: normal;
  text-transform: uppercase;
  background-color: transparent; /*rgba(0,0,0,0);*/
}

.lots {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 26px;
  padding: 180px 24px 120px;
}

.lots__title {
  margin-left: 40px;
}

.content-section__title {
  font-weight: bold;
  font-size: 40px;
  font-style: normal;
  line-height: 1.175;
  text-transform: uppercase;
}

.lots__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}

.lots__list-item {
  z-index: -1;
  width: 334px;
  height: auto;
  min-height: 100px;
}

.lots__list-item:first-child {
  /*первый дочерний элемент */
  background-image: url("../images/card-lot-01.jpg");
  background-position: center;
  background-size: cover;
}

.lots__list-item:nth-child(2) {
  /*второй дочерний элемент */
  background-image: url("../images/card-lot-02.jpg");
  background-position: center;
  background-size: cover;
}

.lots__list-item:last-child {
  /*последний дочерний элемент */
  background-image: url("../images/card-lot-03.jpg");
  background-position: center;
  background-size: cover;
}

.lots__list-item a {
  z-index: 1;
  width: 100%;
  height: 100%;
}

.lots__list-item article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 30px;
  width: 100%;
  height: 100%;
  min-height: 100px;
  padding: 48px 40px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
}

.lots__list-header {
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 22px;
  font-style: normal;
  line-height: 1.2;
  text-decoration: underline;
  text-transform: uppercase;
}

.see-more {
  margin-left: 40px;
  padding-top: 7px;
  font-family: Raleway, sans-serif;
  font-size: 20px;
  font-style: normal;
}

.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  grid-template-rows: auto auto;
  padding: 32px 24px 180px;
}

.about__logo {
  display: flex;
  grid-row: span 2;
  justify-self: center;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 300px;
  padding: 62.25px 47.56px 62px 50.89px;
  background-color: black;
}

.about__title {
  align-content: center;
  height: 240px;
}

.about__title h2 {
  margin-top: 11px;
  margin-left: 25px;
}

.about__text {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  margin-top: 11px;
  margin-left: 25px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: start;
  padding: 0 50px 82px;
}

.footer__address {
  display: flex;
  flex-direction: column;
  justify-self: start;
  align-items: flex-start;
  max-width: 264px;
}

.footer__menu-list {
  justify-self: center;
  min-width: 164px;
  font-family: Raleway, sans-serif;
  font-weight: normal;
  font-size: 18px;
  font-style: normal;
  line-height: 1.127;
  text-align: center;
  list-style: none;
}

.footer__menu-item_active {
  text-decoration: none;
}

.footer__links {
  display: flex;
  justify-content: flex-end;
  gap: 48px;
  list-style: none;
}
.footer__link-image {
  width: 48px;
  height: 48px;
}
